/*************/
/* CSS Reset */
/*************/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
      
/******************/
/* Default Styles */
/******************/

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
}

header,
main,
section {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/*****************/
/* CSS Variables */
/*****************/

:root {
    /* Color */
    
    --primary: #FA6A5F;
    --secondary: #FFC05A;
    --black: #272D35;
    --grey: #F9FAFB;
}

/*************/
/* Utilities */
/*************/

/* Containers */

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 8px 12px;
}

/* Buttons */

.btn {
    color: black;
    background: var(--secondary);
    padding: 20px;
    border-radius: 50px;
    width: fit-content;
}

.highlight {
    background: var(--black);
}

/*****************/
/* Custom Styles */
/*****************/

/* Main Navigation */

header {
    position: fixed;
    background: transparent;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .logo {
    width: 150px;
}

header nav .menu-links ul {
    display: flex;
    gap: 16px;
}

header nav a {
    text-transform: capitalize;
    color: white;
    font-weight: 700;
    font-size: 16px;
}

header nav i {
    font-size: 24px;
    color: white;
}

header nav #mobile-menu-toggle {
    display: none;
}



/* Hero */

.hero {
    background: url("../images/header-background.jpg");
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
}

.hero-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 16px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: white;
}

.hero-content h1 {
    font-size: 3.5rem;
    line-height: 1.2;
}

.hero-content p {
    font-size: 1.5rem;
}

.hero-content a {
    font-size: 1.2rem;
    font-weight: 600;
}

.hero-image {
    flex: none;
    flex-basis: 60%;
}

.svg-wrapper svg {
    display: block;
    height: 50px;
    width: 100%;
}

/* Media Queries */

@media (max-width: 1024px) {

    .container {
        max-width: 900px;
        padding: 12px 16px;
    }
    
    header nav .logo {
        width: 125px;
    }

    .hero-content {
        gap: 24px;
    }

    .hero-content h1 {
        font-size: 3rem;
    }

    .hero-content p {
        font-size: 1.4rem;
    }

    .hero-content a {
        font-size: 1.1rem;
    }

    .hero-image {
        flex-basis: 50%;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 600px;
        padding: 16px 20px;
    }

    header nav .logo {
        width: 150px;
    }

    header nav .menu-links {
        display: block;
        position: absolute;
        top: 90px;
        left: 0px;
        transform: translateX(100%);
        width: 100%;
        height: calc(100vh - 90px);
        background: var(--black);
        transition: transform 0.5s ease;
    }

    header nav .menu-links.mobile-menu {
        transform: translateX(0);
    }

    header nav .menu-links ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    header nav .menu-links a {
        font-size: 2rem;
    }

    header nav .menu-links a:active {
        color: var(--secondary);
    }

    header nav .menu-links i {
        font-size: 2.5rem;
    }

    header nav #mobile-menu-toggle {
        display: block;
    }

    header nav #mobile-menu-toggle:active {
        transform: scale(1.5);
    }
    

    header nav #mobile-menu-toggle i {
        font-size: 32px;
        color: white;
    }

    .hero {
        padding-top: 10rem;
    }

    .hero-wrapper {
        flex-direction: column;
        justify-content: space-around;
        gap: 64px;
        text-align: center;
    }

    .hero-content {
        gap: 32px;
        align-items: center;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 1.5rem;
    }

    .hero-content a {
        font-size: 1.5rem;
    }

    .hero-content a.btn {
        width: 100%;
    }

    .hero-content a.btn:active {
        transform: scale(1.05);
    }
}

/* Restrict hovering for compatible devices */

@media (hover: hover) {
    a:hover {
        cursor: pointer;
    }

    .btn:hover {
        color: white;
        border: 1px solid white;
        background: var(--primary);
    }

    header nav a:hover {
        color: var(--secondary);
    }

    header nav i:hover {
        color: var(--secondary);
    }
}
