/* CSS Reset */
*,
*::before,
*::after {
	margin: 0;
	bottom: 0;
	box-sizing: border-box;
}

/* Defaults */
a {
	text-decoration: none;
}

/* CSS variables */
:root {
	/** Color **/
	--primary-color: #FA6A5F;
	--secondary-color: #FFC05A;
	--black-color: #272D35;
	--grey-color: #F9FAFB;

	/** Margin **/
	--mg-sm: 15px;
	--mg-md: 30px;
	--mg-lg: 50px;
	--mg-xl: 60px;

	/** Padding **/
	--pd-sm: 15px;
	--pd-md: 30px;
	--pd-lg: 50px;

	/** Font Size **/
	--fs-sm: 1.1rem;
	--fs-md: 1.5rem;
	--fs-lg: 3rem;
	--fs-xl: 4rem;

	/** Gap **/
	--gp-sm: 25px;
	--gp-md: 50px;
	--gp-lg: 100px;
}

/* Utilities */
/** Flexbox **/
.nav-flex {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.menu-flex {
	display: flex;
	flex-direction: row;
	align-items: center;
}


.hero-flex {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

/** Text **/
.title {
	font-size: var(--fs-lg);
}

.text {
	font-size: var(--fs-md);
}

.capitalize {
	text-transform: capitalize;
}

/** Buttons **/
.button {
	background-color: var(--secondary-color);
	color: var(--black-color);
	border-radius: 50px;
	font-size: var(--fs-md);
	padding: var(--pd-sm) var(--pd-md);
	font-weight: 700;
}

/** Colors **/
.bg-primary {
	background-color: var(--primary-color);
}

.bg-secondary {
	background-color: var(--secondary-color);
}

.bg-black {
	background-color: var(--black-color);
}

.bg-grey {
	background-color: var(--grey-color);
}

.fg-black {
	color: var(--black-color);
}

/** Containers **/
.container {
	max-width: 1200px;
	margin: 0 auto;
}

/* Content */
html,
body {
	font-family: "Open Sans", sans-serif;
	color: var(--black-color);
	line-height: 1.5;
}

/* Header */
header {
	background-image: url("../images/header-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	height: 110vh;
}

/* Navigation */
nav {
	padding: var(--pd-sm);
}

.logo {
	width: 150px;
}

.menu-links	ul {
	list-style-type: none;
	font-size: var(--fs-sm);
	color: white;
	font-weight: 600;
	padding: 0;
}
	
.menu-links	li {
	display: inline-block;
	margin-right: var(--mg-md);
}

.menu-links li:last-of-type {
	margin-right: 0;
}
		
.menu-links	a {
	text-decoration: none;
	color: white;
}

.menu-links a:hover {
	color: var(--secondary-color);
}

.social-links i {
	color: white;
	font-size: 2.2rem;
	margin-left: var(--mg-md);
}

.social-links i:hover {
	color: var(--secondary-color);
}

/* Hero */
.hero {
	color: white;
	margin-top: var(--mg-lg);
	padding: var(--pd-sm);
	position: relative;
}

.hero-text {
	padding: var(--pd-sm);
}

.hero-text h1 {
	margin-bottom: var(--mg-sm);
}

.hero-text p {
	margin-bottom: var(--mg-md);
}

.hero-img {
}

.hero a {
	display: inline-block;
}
.hero a:hover {
	background-color: var(--primary-background);
	border: 1px solid #ffffff;
	color: #ffffff;
}

header svg {
	position: absolute;
	top: 105vh;
	height: 10vh;
	width: 100%;
}

/* Media Queries */

/** Small Desktop **/
@media (min-width: 993px) and (max-width: 1200px) {
	.container {
		max-width: 992px;
		margin: 0 auto;
	}

	nav {
		padding: var(--pd-md);
	}

	.logo {
		width: 125px;
	}

	.hero {
		margin-top: var(--mg-sm);
		padding: var(--pd-mg);
	}

	.hero-flex {
		gap: var(--gp-md);
	}

	.hero-text {
		margin: var(--mg-sm);
	}

	.hero-img img {
		width: 550px;
	}
}

/** Tablets **/
@media (min-width: 769px) and (max-width: 992px) {
	.container {
		max-width: 768px;
		margin: 0 auto;
	}

	header {
		height: 160vh;
	}

	header svg {
		top: 150vh;
		height: 10vh;
	}

	nav {
		padding: var(--pd-md);
	}
	
	.logo {
		display: none;
	}

	.menu-links li {
		margin-right: var(--mg-sm);
	}

	.menu-links li:first-of-type {
		margin-left: 25px;
	}

	.social-links i {
		font-size: 2rem;
	}

	.hero-flex {
		flex-direction: column;
		text-align: center;
	}

	.hero {
		margin-top: var(--mg-xl);
		padding: var(--pd-md);
	}

	.hero-img img {
		width: 550px;
	}
}
